body {
  margin-top: 56px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.row{
  margin: 0px;
}

.img-font{
background: url('https://images.thedirect.com/media/article_full/dcmarvel_WBAhVL3.jpg');
background-position: center;
background-size:cover;
background-repeat: no-repeat;
height: 100vh;
}


.hit-the-floor {
  top: 110px;
position: relative;
color: #fff;
font-size: 3em;
font-weight: bold;
font-family: Helvetica;
text-shadow:  0 1px 0 #d7d7d7, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #161515, 0 5px 0 #e9e3e3, 0 6px 1px rgb(0 0 0 / 10%), 0 0 5px rgb(233 232 232 / 10%), 0 1px 3px rgb(116 62 62 / 30%), 0 3px 5px rgb(0 0 0 / 20%), 0 5px 10px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 20%), 0 20px 20px rgb(0 0 0 / 15%);
}

.hit-the-floor {
  text-align: center;
}

.flexo{
display: flex;
}

.padre {
text-align: center;
}

.hijo {
  line-height: 350px; 
}

